<!DOCTYPE html>
<html>
  <head>
    <title>Add Item</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <a href="/register">Register Card</a>
        <a href="/login">Log In</a>
      </nav>
    </header>

    <h1>Add Item</h1>

    <form action="/list/add" method="post">
        <label for="item_name">Name:</label>
        <input name="item_name" type="text" />

        <input type="submit" />
    </form>
  </body>
</html>
