<!DOCTYPE html>
<html>
  <head>
    <title>Customer Index</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <a href="/register">Register Card</a>
        <a href="/login">Log In</a>
      </nav>
    </header>

    <h1>Your shopping list</h1>

    <a href="/list/add">Add Item</a>

    <ul>
      <% list.forEach(item => { %>
        <li><%= item %></li>
      <% }) %>
    </ul>

  </body>
</html>
