<!DOCTYPE html>
<html>
  <head>
    <title>Register your access card</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <a href="/register">Register Card</a>
        <a href="/login">Log In</a>
      </nav>
    </header>

    <h1>Register your access card</h1>

    <% if (didRegister) { %>
        <div class="response">
            <p>Successfully registered your card. <a href="/login">Log In Now</a></p>
        </div>
    <% } %>

    <form action="/register" method="post">
        <label for="card_id">Card ID:</label>
        <input name="card_id" type="text" />

        <label for="card_pass">Password:</label>
        <input name="card_pass" type="password" />

        <input type="submit" />
    </form>
  </body>
</html>
