<!DOCTYPE html>
<html>
  <head>
    <title>Customer Index</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/customer">Customer</a>
        <a href="/staff">Staff</a>
      </nav>

      <nav>
        <a href="/customer/register">Register Card</a>
        <a href="/customer/login">Log In</a>
      </nav>
    </header>

    <h1>Your shopping list</h1>

    <a href="/customer/list/add">Add Item</a>

    <ul>
      <% list.forEach(item => { %>
        <li><%= item %></li>
      <% }) %>
    </ul>

  </body>
</html>
