<!DOCTYPE html>
<html>
  <head>
    <title>Register your access card</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Register your access card</h1>
    <form action="/customer/register" method="post">
        <label for="card_id">Card ID:</label>
        <input name="card_id" type="text" />

        <input type="submit" />
    </form>
  </body>
</html>
