body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#list {
  padding: 0;
  list-style: none;
  background: black;
}

#list li {
  padding: 10px;
  background: rgba(255, 255, 255, 0.95);
  font: monospace;
  cursor: move;
}
